/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
#profileDisplay { display: block; height: 400px; width: 100%; margin: 0px auto; background-color: #F7F7F7; }
.img-placeholder {
  width: 60%;
  color: white;
  height: 100%;
  background: black;
  opacity: .7;
  height: 210px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.card-congratulations{
  background: linear-gradient(
118deg, #D0F7FF, #D0F7FF) !important;
    color: #fff;
}
.card-parking-lot {
  background: linear-gradient(
118deg, #D0F1D0, #D0F1D0) !important;
    color: #fff;
}
.card-profits {
  background: linear-gradient(
118deg, #FFD8FA, #FFD8FA) !important;
    color: #fff;
}
.match-height > [class*=col] > .card {
  flex: none !important;
}

/**ADDED CSS**/
.card {
  border: none;
  margin-bottom: 0.7rem;
}
.sparknews_container {
  padding: 15px;
}
.card-available-parking{
  background: linear-gradient(
118deg, #ffe991, #ffe991) !important;
   
}
.spark-news-carousel{
  background-image: linear-gradient(to right, #7dab22, #1e9c1b);
  color: #fff;
  border-radius: 4px 4px 0 0;
  padding: 5px;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
div#demo {
  height: 350px;
  background: black;
}

.col-lg-3.advertisement_slot {
  padding: 0;
}
.advertisement_slot .ads_container{
  height: 100vh;
}

// PROFITS //
.profits-content1 {
  font-size: 35px;
  font-weight: 600;
  color: #1EBA1F;
}
.profits-content2 {
  font-weight: 600;
  margin-bottom: 10px;
}

//LOGIN
.login-fix-img {
  position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    height: 250px;
    width: 100%;
    z-index: 1;
}
.login-container {
  z-index: 2;
}


// REFERRED PROFITS //

/*Clearing Floats*/
.cf:before, .cf:after{
  content:"";
  display:table;
}
.cf:after{
  clear:both;
}

/* Form wrapper styling */
.copy-wrapper {
  width: 450px;
  border-radius: 5px;
  border: 1px solid #e9e9e9;
}
.copy-wrapper input {
padding-left: 20px;
  width: 330px;
  height: 40px;
  padding: 10px 5px;
  float: left;
  border: 0;
  background: #fff;
  border-top-style: none;
}

.copy-wrapper input::-webkit-input-placeholder {
 color: #999;
 font-weight: normal;
 font-style: italic;
padding-left: 10px;
}

.copy-wrapper input:-moz-placeholder {
  
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.copy-wrapper input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
  border-style: none;
}   

/* Form copy button */
.copy-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    margin: 3px;
    cursor: pointer;
    height: 35px;
    width: 80px;
    text-transform: uppercase;
    background: #f3f2f7;
    border-radius: 5px;
    color: #6e6b7b;
}  